<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/adminUser.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="nav_logo">
          <a href="/admin">
            <img src="/imgs/pulse-logo.png" alt="nav-logo" />
          </a>
        </div>
        <ul class="nav_items">
          <li class="nav_item"><a href="/admin/profile">Profile</a></li>
        </ul>
      </nav>
    </header>
    <aside class="aside_container">
      <div class="toggle-btn">
        <button><ion-icon name="menu-outline"></ion-icon></button>
      </div>
      <div class="aside_bar">
        <div class="aside_title">
          <h1>Dashboard</h1>
        </div>
        <ul class="aside_items">
          <li class="aside_item"><a href="/admin">Home</a></li>
          <li class="aside_item"><a href="/admin/users/">Users</a></li>
          <li class="aside_item"><a href="/admin/faculty">Faculty</a></li>
          <li class="aside_item">
            <a href="/admin/pulseregistered">Pulse registered</a>
          </li>
          <li class="aside_item"><a href="/admin/blood">Blood</a></li>
          <li class="aside_item"><a href="/admin/logout">Log out</a></li>
        </ul>
      </div>
    </aside>
    <main>
      <section class="users_section">
        <div class="admin_title">
          <h1>Admin</h1>
        </div>
        <form action="/admin/users" method="get">
          <div class="form_sort">
            <h3>Filter by</h3>
            <div class="input_control">
              <input type="email" name="email" id="email" placeholder="Email" />
            </div>
            <div class="input_control">
              <select name="branch" id="branch">
                <option value="">Select branch</option>
                <option value="ECE">ECE</option>
                <option value="CSE">CSE</option>
                <option value="IOT">IOT</option>
                <option value="CSIT">CSIT</option>
                <option value="AIDS">AIDS</option>
                <option value="MECH">MECH</option>
                <option value="CIVIL">CIVIL</option>
                <option value="EEE">EEE</option>
                <option value="BBE">BBE</option>
              </select>
            </div>
            <!-- <div class="input_control">
              <select name="description" id="branch">
                <option value="">Select description</option>
                <option value="student">Student</option>
                <option value="faculty">Faculty</option>
              </select>
            </div> -->
            <div class="input_control input_control-btn">
              <button class="filter-btn">Filter</button>
            </div>
          </div>
        </form>
        <div class="table_container">
          <table>
            <thead>
              <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Branch</th>
                <th>Description</th>
                <th>Phone</th>
                <th>Operations</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach((user,i) =>{%>
              <tr>
                <td><%= i+1 %></td>
                <td><%= user.name %></td>
                <td><%= user.branch %></td>
                <td><%= user.role %></td>
                <td><%= user.phone %></td>
                <td>
                  <div class="operations">
                    <div class="edit">
                      <a href="/admin/user/edit/<%= user._id %>">Edit</a>
                    </div>
                    <div>
                      <form
                        action="/admin/user/delete/<%= user.id %>?_method=DELETE"
                        method="post"
                      >
                        <input type="hidden" name="_method" value="DELETE" />

                        <button class="delete">Delete</button>
                      </form>
                    </div>
                  </div>
                </td>
              </tr>
              <% })%>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script>
      const toggle_btn = document.querySelector('.toggle-btn');
      const aside_bar = document.querySelector('.aside_bar');
      const aside_container = document.querySelector('.aside_container');

      toggle_btn.addEventListener('click', () => {
        aside_bar.classList.toggle('active');
        aside_container.classList.toggle('active');
      });
    </script>
  </body>
</html>
